---js
const eleventyNavigation = {
	key: "About",
	order: 2
};
---
<h1 class="text-2xl font-bold text-blue-600 mb-8 p-4 border-b-2 border-blue-300">About Page</h1>


<div class="flex flex-col text-black-0">
    <p>This is a really great paragraph about the team</p>
    <p>This is a second paragraph about the team.</p>
    <p>This is a third paragraph about the team.</p>
</div>



