---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};
---
<h1 class="text-2xl text-blue-600 mb-8 p-4 border-b-2 border-blue-300">HOME PAGE WILL GO HERE. TAILWINDCSS CONNECTED!</h1>


{# List every content page in the project #}

<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>

